RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^index.php(.*) http://website.test.refon.com.sa/:49001/$1 [P,L]
RewriteRule (.*) http://website.test.refon.com.sa:49001/$1 [P,L]
